html {
    font-family: sans-serif;
}

body {
    margin: 0;
    text-align: center;
    background-color:#1d1d1d;
    color: #f6f0ee;
}

h1{
    color: rgb(32, 82, 82);
}

#logo {
    height: 100px;
    object-fit: contain;
    margin-top: 2rem;
}